@import "../components/header";
@import "../components/footer";
@import "../defaults/colors";
@import "../components/utils";
@import "../defaults/breakpoints";

.page_layout {
    @include page_layout();
}

main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    
    .blog_post_cont {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 400px;
        height: 250px;
        margin: 40px;
        margin:24px;
        transition: .4s;


        &:hover{
            transform: scale(1.05);
            cursor: pointer;
            .blog_post {
                background-color: $hover;
            }
        }


        .blog_img {
            position:relative;
            grid-row: 4 / span 2;
            grid-column: 1 / span 10;
            grid-row: 2  / span 7;
            overflow:hidden;

            img {
                width: 100%
            }
        }

        .blog_post {
            position:relative;
            grid-column:2 / span 8;
            grid-row: 1 / span 10;
            background-color: $primary-background;
            border: solid 1px;
            border-radius: 4px;
        }

        h2 {
            position: relative;
            grid-column:1 / span 8;
            grid-row: 2 / span 6;
            color: $primary-background;
        }

        h3 {
            position: relative;
            grid-column:2 / span 8;
            grid-row: 9 / span 2;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary-text;
        }
    }
}

@media screen and (max-width: $tablet) {
    main .blog_post_cont {
        width: 300px;
        height: 250px;
        margin: 20px;
    }
}

@media screen and (max-width: $mobile) {
    main .blog_post_cont {
        width: 320px;
        height: 180px;
        margin: 20px;
    }
}
    