@import "../components/header";
@import "../components/footer";
@import "../defaults/colors";
@import "../components/utils";

.page_layout {
    @include page_layout();
}

// grid display positions main elements
main {
    height:500px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1.5fr 2fr 11fr 12fr 1fr;
    grid-template-rows: 12% 58% 18% 7% 5%;
}

// light brown box heading text positioned to right with flex
.main_background_box {
    background-color: $primary-text;
    position: relative;
    display: flex;
    justify-content: end;
  
    grid-column: 3 / span 2;
    grid-row: 1 / span 5;

    // heading width constrained to 45% to prevent from touching image
    .headings {
        margin-top: 6%;
        height:150px;
        width:45%;

        .hi {
            font-size: 40px;
        }

        .sub {
            margin-left: 25px;
            font-weight: lighter;
        }
    }
}

// dark brown box, flex-end positions content on right side
.sec_background_box {
    background-color: $primary-background;
    position: relative;
    display: flex;
    justify-content: flex-end;
    grid-column: 1 / span 5;
    grid-row: 3 / span 2;

    // width 47% keeps text constrained to right half
    .project {
        height: 100px;
        width: 47%;
        display: block;

        .question {
        margin-left:10%;
        margin-top:12px;
        font-size: 20px;
        font-weight: lighter;
        color: $primary-text;
        }

        .contact_btn_position {
        margin-left:67%;
        margin-top: 5%;
        

            .contact_btn {
                color: $primary-text;
                max-width: fit-content;
                padding: 8px;
                border: solid 1px $sec_text;
                border-radius: 4px;
                transition: .4s;
                
                // hover transform expands without affecting elements around
                &:hover {
                    color: $sec_text;
                    transform: scale(1.03);

                }
            }
        }
    }
}

// div containing image, image size fixed inside div with overflow:hidden
.laptop_img {
    position: relative;
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    overflow:hidden;

    // image width prevents image become too small to fill div due to different aspect ratio
    img {
        width:122%
    }
}


@media screen and (max-width: $tablet) {

    // heading more central for tablet
    .main_background_box .headings {
        margin-top:9%;

        .sub {
            margin-top: 40px;
        }
    }

    // project question and contact button moved to right and below image
    .sec_background_box {
        justify-content: center;
        align-items: center;

        .project {
            width:100%;

            .contact_btn_position {
                display: flex;
                justify-content: center;
                margin: 0;
            
            }
        }
    }
}

.laptop_img {
    img {
        width: 100%;
    }
}

@media screen and (max-width: $mobile) {
    main {
        padding: 10px;

        .main_background_box .headings {
        width:100%;
        margin-top: 0px;
        grid-row: 4 / span 5;

            .sub {
                margin-left: 51%;
            }
        }  
    }
}
