@import "../components/header";
@import "../components/footer";
@import "../defaults/colors";
@import "../components/utils";

.page_layout {
    @include page_layout();
}

main {
    // flex display with central alignment for the 2 elements
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:24px;

    a {
        padding: 18px;
        border: solid 1px $primary-background;
        border-radius: 8px;
        background-color: $primary-background;
        transition: 0.4s;

        // 0.4 second transition to lighter colour when hovering over link
        &:hover {
            background-color: $hover;
        }

        .contact_btn {
            color: $primary-text;
            font-weight:lighter;
        }
    }
}

@media screen and (max-width: $tablet) {

    main {
        max-width: 100vw;

        .resume {
        padding:12px;

            img {
                width:100%;
            }
        }
    }
}