@import "../defaults/breakpoints";
@import "../defaults/colors";
@import "../components/utils";
    
* {
    @include primary_background();
}
  
    nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    height: 75px;
    line-height: 75px;
    background: $primary-background;

    .navbar-logo {
        color: $sec_text;
        font-weight: bold;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 50px 10px;
        transition: 0.4s;
        line-height: 0;

        .name {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: lighter;
            grid: 1;
            color: $primary_text;
        }

        .title {
            font-size: 18px;
            font-weight: lighter;
            grid: 2;
            display: flex;
            justify-content:flex-end;
        }

        &:hover {
            background: $hover !important;
            cursor: pointer; 
        }
    }

    .nav-list {
        display: flex;

        .nav-item {
            cursor: pointer;
            height: 100%;
            padding: 0 30px;
            transition: .4s;

            &:hover {
                background: $hover;
            }
        }

        .nav-link {
            color: $primary_text;
            font-size: 18px;
            font-weight: 500;
        }
    }
}

@media screen and (max-width: $tablet) {
    nav {
        padding: 0 1rem;

        .navbar-logo {
            .name {
                font-size: 18px;
            }
            .title {
                font-size: 14px;
            }
        }

        .nav-list .nav-item {
                padding: 0 1rem;
        }
    }
}

input {
    display: none;
}

@media screen and (max-width: $mobile) {
    nav {
        padding: 0 0;

        .navbar-logo {
            z-index: 3;
            position: relative;
            left: 10%;
        }

        .list_cover {
            display: grid;
            position: absolute;
            z-index: 2;
            background: $primary-background;
            height: 75px;
            width: 100%;
        }

        .nav-list {
            display: grid; 
            position: absolute;
            background: $sec_text;
            width: 100%;
            top: 75px;
            left: 0;
            transform: translateY(-100%);
            z-index: 1;
            transition: .6s;
        
            .nav-item {
                padding-left: 35px;

                &:active {
                    background: $mob_hover;
                }
            }

            .nav-link {
                color: $primary-background;
            }
        }
        .navbar-toggler {
                display: grid;
                z-index: 3;
                left: 8px;
                height: min-content;
                cursor: pointer;
                margin: 18px 30px 0 0;
                    .bar {
                        width: 40px;
                        height: 5px;
                        margin-bottom: 10px;
                        background: $sec_text;
                        border-radius: 10%;
                        transition: .4s;
                    }
            }
        }

    input:checked ~ nav {
        .nav-list {
            transform: translateY(0);
        }
        .navbar-toggler {
            margin-top: 35px;
            .bar:nth-child(1) {
                position: absolute;
                transform: rotate(45deg);
            }
            .bar:nth-child(2) {
                display: none;
            }
            .bar:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}

