@import "../defaults/breakpoints";
@import "../defaults/colors";
@import "../components/utils";
    
* {
    @include primary_background();
}
  
    nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15%; 
    height: 75px;
    line-height: 75px;
    background: $primary-background;

    .navbar-logo {
        // color: $sec_text;
        font-size: 28px;
        font-weight: bold;
    }



    .nav-list {
        display: flex;

        .nav-item {
            cursor: pointer;
            height: 100%;
            padding: 0 30px;
            transition: .4s;

            &:hover {
                background: $hover;
            }
        }

        .nav-link {
            color: $primary_text;
            font-size: 18px;
            font-weight: 500;
        }
    }
}

@media screen and (max-width: $tablet) {
    nav {
        padding: 0 2rem;

        .nav-list .nav-item {
                padding: 0 20px;
        }
    }
}

input {
    display: none;
}

@media screen and (max-width: $mobile) {
    nav {
        // position:relative;
        // z-index: 4;
        padding: 0 0;

        .navbar-logo {
            z-index: 3;
            position: relative;
            left: 10%;
        }
        .list_cover {
            display: grid;
            position: absolute;
            z-index: 2;
            background: $primary-background;
            height: 75px;
            width: 120%;
        }
        .nav-list {
            display: grid; 
            position: absolute;
            background: $sec_text;
            width: 100%;
            top: 75px;
            left: 0;
            transform: translateY(-100%);
            z-index: 1;
            transition: .6s;
        
            .nav-item {
                padding-left: 35px;

                &:active {
                    background: $mob_hover;
                }
            }

            .nav-link {
                color: $primary-background;
            }
        }
        .navbar-toggler {
                display: grid;
                left: 8px;
                height: min-content;
                cursor: pointer;
                margin: 18px -10px 0 0;
                    .bar {
                        z-index: 3;
                        width: 40px;
                        height: 5px;
                        margin-bottom: 10px;
                        // background: $sec_text;
                        background: black;
                        border-radius: 10%;
                        transition: .4s;
                    }
            }
        }

    input:checked ~ nav {
        .nav-list {
            transform: translateY(0);
        }
        .navbar-toggler {
            margin-top: 35px;
            .bar:nth-child(1) {
                position: absolute;
                transform: rotate(45deg);
            }
            .bar:nth-child(2) {
                display: none;
            }
            .bar:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}

