@import "../defaults/colors";

@mixin primary_background() {
    background-color: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'ibm plex sans condensed', sans-serif;
}

@mixin page_layout() {
    background: none;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    z-index: 0;
}