@import "../defaults/colors";

@mixin primary_background() {
    background-color: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'ibm plex sans condensed', sans-serif;
}